.login {
  width: 100%;
  min-height: calc(100vh - 22px);
  background: url("../src/assets/img/bg-login.jpg") center;

  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
