.login {
  width: 100%;
  min-height: 100vh;
  background: url("../src/assets/img/bg-login.jpg") center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.login__logo {
  justify-self: center;
}

.login__form {
  display: grid;
  gap: 20px;
}
.login__form div {
  display: grid;
  gap: 4px;
}

.login__form__text {
  margin: 0;
  text-align: center;
}

.login__form__line {
  text-align: center;
  text-transform: lowercase;
}

.login__divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.login__divider::before,
.login__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #989898;
}

.login__divider:not(:empty)::before {
  margin-right: 0.5em;
}

.login__divider:not(:empty)::after {
  margin-left: 0.5em;
}

a button.btn {
  width: 100%;
}
