.register {
  width: 100%;
  min-height: 100vh;
  background: url("../src/assets/img/bg-login.jpg") center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.register__logo {
  justify-self: center;
}

.register__form {
  display: grid;
  gap: 20px;
}
.register__form div {
  display: grid;
  gap: 4px;
}

.register__form__text {
  margin: 0;
  text-align: center;
}

.register__form__line {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  background: rgba(247, 250, 245, 0.9);
}

.register__divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.register__divider::before,
.register__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #989898;
}

.register__divider:not(:empty)::before {
  margin-right: 0.5em;
}

.register__divider:not(:empty)::after {
  margin-left: 0.5em;
}
