@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700;800&display=swap");


.card {
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.title {
    color: rgba(92, 146, 73, 1);
    font-weight: 800;
    font-family: "Heebo", sans-serif;
    font-size: 32px;
}

.question_container {
    color: rgb(35, 34, 34);
    font-weight: 800;
    font-size: 20px;

}

.quiz {
    text-align: center;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    margin-top: 10px;
    height: 80%;
}

.questions {
    background-color: aqua;
    border-radius: 5px;
    min-height: 200px;
    height: max-content;
    padding: 2px;
    box-shadow: 10px 10px 40px 0px #0000;
    margin-bottom: 6px;

}

.options {
    color: rgba(92, 146, 73, 1);
    font-weight: 900;
    border-radius: 2px;
    padding-right: 5px;
}

.group {
    display: flex;
    flex: 1 1 200px;
    justify-content: center;
    align-items: center;

}

.buttonquiz {
    width: 55%;
    margin: 10PX;
    padding: 5PX;
    background-color: rgba(92, 146, 73, 1);
    box-shadow: 10px 10px 40px 0px #0000;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;

}

.buttonquiz:hover {
    background-color: rgba(148, 148, 148, 0);
    color: rgb(95, 95, 95);
    font-weight: 900;
}

.buttonquiz:active {
    background-color: #ffffff00;
    box-shadow: 5px 5px 0px rgb(62, 137, 35);
    box-shadow: 5px 5px 0px #65c968c8;
    color: black;

}

.box {
    color: rgb(79, 79, 79);
    font-weight: 800;
    font-size: 15px;
}

.pontuacao {
    color: rgb(62, 137, 35);
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-weight: 900;
    font-size: 900;
    font-size: 26px;

}

.pontuacao-back {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 10PX;
    padding: 5PX;
    background-color: rgba(92, 146, 73, 1);
    box-shadow: 10px 10px 40px 0px #0000;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
}

.pontuacao-back:hover {
    background-color: rgba(148, 148, 148, 0);
    color: rgb(61, 59, 59);
    font-weight: 600;

}


.planet {
    width: 30%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Responsive Mobile*/

@media (max-width: 720px) {
    .card {
        width: max-content;
        height: 400px;
        margin: 0 auto;
        display: flex;
    }

    .quiz {
        width: max-content;
        height: max-content;
    }

}
